/* ===========================
 ======= Body style ========
 Begin reusable content
 =========================== */

body {
	background-color: #E6E6E6;
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Century Gothic';
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

.body {
	clear: both;
	margin: 0 auto;
	width: 70%;
}

/* ===========================
 ========= Headings ========
 =========================== */
h2 {
	font-size: 1.571em
}/* 22px */

h4 {
	font-size: 1.286em
}/* 18px */
h5 {
	font-size: 1.143em
}/* 16px */
h6 {
	font-size: 1em
}/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 0.7;
	margin-bottom: .8em;
}

/* ===========================
 ======= Anchor style ======
 =========================== */
a {
	outline: 0;
}

a img {
	border: 0px;
	text-decoration: none;
}

a:link, a:visited {
	color: #fff;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {

	color: #fff;
	text-decoration: none;
}

/* ===========================
 ===== Main Navigation =====
 =========================== */

.main-header nav {
	border-radius: 5px;
	float: right;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 55px 0;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.main-header nav ul {
	list-style: none;
	margin-top: 10%;
}

.main-header nav ul li {
	float: left;
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
}
.main-header nav ul li a {
	color: #234465;
}
.main-header nav a:link, .main-headernav a:visited {

	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.main-header nav a:hover, .main-headernav a:active, .main-headernav .active a:link, .main-headernav .active a:visited, a:focus {
	border:3px solid black;
	color: #F58634;
	text-shadow: none !important;
}

.main-header nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.main-header img {
	width: 20%;
	height: auto;
	margin: 3% 0;
}

/* ===========================
 ======= Content Area ======
 =========================== */

.main-content {
	overflow: hidden;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.content {
	width: 99%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.visit-card {
	float: left;
	display: block;
	clear: right;
	padding: 4px;
}

.visit {
	background-color: #F38351;
	colot: #fff;
	background-color: #F38351;
	float: left;
	height: 185px;
	width: 250px;
	float: left;
}

.visit h3 {
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.visit h4 {
	 color: #FFFFFF;
    font-family: bold;
    font-size: 17px;
    text-align: center;
}


/* ===========================
 ========= Footer ==========
 =========================== */

.main-footer {
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0;
	background-color: #234465;
	background-repeat: repeat-x;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #FFF;
}
.main-footer img {
	padding: 10px;
	float: left;
}
.main-footer p {
	float: left;
	font-size: 16px;
	margin: 0 auto;
	margin-right: 20px;
	margin-top: 40px;
	vertical-align: bottom;
	width: 51%;
}
.main-footer a{
	
	font-weight:bold;
}
.main-footer a:hover{
	color:#F58634;
	font-weight:bold;
}
.main-footer ul li {
	float: right;
	padding: 25px;
	list-style: none;
	text-transform: uppercase;
}
.main-header  li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* ===========================
 ====== Media Queries ======
 =========================== */
@media (max-width: 1366px) {
	.body {
		margin: 0 auto;
		width: 110%;
		font-size: 100%;
	}
	.main-header nav {
		border-radius: 5px;
		float: right;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin-right: 125px;
		margin-top: 55px;
		text-align: center;
	}
	.main-header img {
		height: auto;
		margin: 3% 0 3% 10px;
		width: 20%;
	}
}

@media (max-width: 1200px) {
	.body {
		margin: 0 auto;
		width: 90%;
		font-size: 100%;
	}
	.main-headerimg {
		width: 20%;
		height: auto;
		margin-right: 2%;
	}

	.main-content {
		width: 100%;
		line-height: 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-top: 4%;
		margin-bottom: 2%;
	}

	.visit-card {
		float: left;
		display: block;
		clear: right;
		padding: 2px;
	}
	.visit-card img {
		width: 110px;
		height: 100%;
	}
	.visit {
		background-color: #F38351;
		float: left;
		font-size: 14px;
		height: 120px;
		width: 220px;
	}

	.visit h3 {
		text-align: center;
		color: #fff;
		font-weight: bold;
	}
	.visit h4 {
		text-align: center;
		color: #fff;
		font-size: 12px;
		font-family: bold;
	}

}

@media (max-width: 1024px) {
	.visit-card {
		float: left;
		display: block;
		clear: right;
		padding: 2px;
	}
	.visit-card img {
		width: 100%;
		height: 100%;
	}
	.visit {

		background-color: #F38351;
		float: left;
		font-size: 14px;
		height: 95px;
		width: 200px;
	}

	.visit h3 {
		text-align: center;
		color: #fff;
		font-weight: bold;
	}
	.visit h4 {
		text-align: center;
		color: #fff;
		font-family: bold;
	}

	.main-footer p {
		float: left;
		font-size: 16px;
		margin: 40px 20px 0 auto;
		vertical-align: bottom;
		width: 21%;
	}

}
@media (max-width: 780px) {
	.body {

		margin: 0 auto;
		width: 120%;
		font-size: 100%;
	}
	.main-content{
    line-height: 2px;
       width: 30%;
	}
	.content{
		width:30%;
	}
	.responsive td{
		display:block;
	}
	.main-header nav {
	
	float: left;
	font-size: 1 em;
	height: 40px;
	line-height: 30px;
	margin: 55px 0;
	margin-right:125px;
	text-align: center;
	
}

.main-header nav ul {
	list-style: none;
	margin: 0 auto;
}

.main-header nav ul li {
	float: left;
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
}
	.main-header img {
		width: 30%;
		height: auto;
		margin-bottom: 3%;
		margin-right: 2%;
	}

	.content {
		width: 100%;
		float: left;
		margin-top: 50px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.visit-card {
		float: left;
		display: block;
		clear: right;
		padding: 4px;
	}
	.visit-card img {
		height: 200px;
    width: 200px;
	}
	.visit {
		 background-color: #F38351;
    float: left;
    height: 100px;
    width: 210px;
	}

	.visit h3 {
		text-align: center;
		color: #fff;
		font-weight: bold;
	}
	.visit h4 {
		text-align: center;
		color: #fff;
		font-size: 14px;
		font-family: bold;
	}
.main-footer ul li {
    float: right;
    list-style: none outside none;
    padding: 10px;
    text-transform: uppercase;
}

}
@media (max-width: 480px) {
	.body {

		margin: 0 auto;
		width: 120%;
		font-size: 100%;
	}
	.main-content{
    line-height: 2px;
       width: 80%;
	}
	
	.responsive td{
		display:block;
	}
	.main-header nav {
	
	float: left;
	font-size: 1 em;
	height: 40px;
	line-height: 30px;
	margin: 55px 0;
	margin-right:125px;
	text-align: center;
	word-break: break-all;
	
}

.main-header nav ul {
	list-style: none;
	margin: 0 auto;
}

.main-header nav ul li {
	float: left;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
}
	.main-header img {
		width: 40%;
		height: auto;
		margin-bottom: 3%;
		margin-right: 2%;
	}

	.content {
		width: 100%;
		float: left;
		margin-top: 50px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.visit-card {
		float: left;
		display: block;
		clear: right;
		padding: 4px;
	}
	.visit-card img {
		height: 200px;
    width: 200px;
	}
	.visit {
		 background-color: #F38351;
    float: left;
    height: 100px;
    width: 210px;
	}

	.visit h3 {
		text-align: center;
		color: #fff;
		font-weight: bold;
	}
	.visit h4 {
		text-align: center;
		color: #fff;
		font-size: 14px;
		font-family: bold;
	}
.main-footer ul li {
    display:inline;
    list-style: none outside none;
    text-transform: uppercase;
    float:left
}
.main-footer ul li a{
	
	text-align:center;
}

    
.main-footer img {
    float: left;
    height: 50%;
    margin-right: 10px;
    margin-top: 10px;
   
    width: 50%;
}

.main-footer p {
    float: left;
    font-size: 14px;
   
    vertical-align: bottom;
    width: 21%;
}
}